services:
  discovery-service:
    build: ./discovery-service
    container_name:  discovery-doc
    ports:
      - "8761:8761"
    expose:
      - "8761"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 4s
      retries: 10
  config-service:
    build: ./config-service
    container_name: config-doc
    ports:
      - '9999:9999'
    expose:
      - '9999'
    healthcheck:
      test: [ "CMD","curl","-f", "http://localhost:9999/actuator/health" ]
      interval: 4s
      retries: 10
      start_period: 10s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
    depends_on:
      discovery-service:
        condition: service_healthy
  livre_service:
   build: ./livre-service
   container_name: livre-doc
   ports:
     - "7071:7071"
     - "7071"
   healthcheck:
     test: [ "CMD","curl","-f", "http://localhost:7071/actuator/health" ]
     interval: 4s
     retries: 10
     start_period: 15s
   environment:
     - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
     - CONFIG_SERVICE_URL=http://config-doc:9999
   depends_on:
     config-service:
       condition: service_healthy
  user_service:
    build: ./user-service
    container_name: user-doc
    ports:
      - "7072:7072"
      - "7072"
    healthcheck:
      test: [ "CMD","curl","-f", "http://localhost:7072/actuator/health" ]
      interval: 4s
      retries: 10
      start_period: 15s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
      - CONFIG_SERVICE_URL=http://config-doc:9999
    depends_on:
      config-service:
        condition: service_healthy
  emprunt_service:
    build: ./emprunt-service
    container_name: emprunt-doc
    ports:
      - "7073:7073"
      - "7073"
    healthcheck:
      test: [ "CMD","curl","-f", "http://localhost:7073/actuator/health" ]
      interval: 4s
      retries: 10
      start_period: 20s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
      - CONFIG_SERVICE_URL=http://config-doc:9999
    depends_on:
      config-service:
        condition: service_healthy
      livre_service:
        condition: service_healthy
      user_service:
        condition: service_healthy
  gateway-service:
    build: ./gateway-service
    container_name: gateway-doc
    ports:
      - '8888:8888'
    expose:
      - '8888'
    healthcheck:
      test: [ "CMD","curl","-f", "http://localhost:8888/actuator/health" ]
      interval: 4s
      retries: 10
      start_period: 25s
    environment:
      - DISCOVERY_SERVICE_URL=http://discovery-doc:8761/eureka
    depends_on:
      emprunt_service:
        condition: service_healthy



